<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon resto c'est pas l'McDo</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class= "flex-md-fill">
                    @Html.ActionLink("Index", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Le Restaurant", "Restaurant", "Page", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("La Carte", "Index", "Carte", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                
                
               
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - El Super Resto</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>



